@import "../../index.css";
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 70px;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  width: 100%;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
header.stick {
  height: 70px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 0 2px 0px gray;
}
.empty {
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.about-img {
  background-image: url("../images/bg-01.jpg.webp");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 220px;
}
.about-img h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  position: relative;
  top: 6rem;
}
.about {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  display: flex;
  justify-content: space-between;
  gap: 6em;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about .text {
  width: 100%;
}
.about .text h2 {
  font-weight: 900;
  color: #333;
  padding-bottom: 10px;
}
.about p {
  color: #888;
  font-weight: 100;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7857;
}
.right {
  position: relative;
  width: 50%;
}
.frame {
  width: 370px;
  height: 370px;
  position: relative;
  overflow: hidden;
}
.frame-border-top::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 370px;
  border: 3px solid #ccc;
  top: 20px;
  right: 15px;
}
.frame-border-bottom::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 370px;
  border: 3px solid #ccc;
  top: 20px;
  left: 15px;
}
.right img {
  max-width: 100%;
  position: relative;
  transition: 0.8s ease-in-out;
}
.frame:hover img {
  transform: scale(1.1);
  transition: 0.7s ease-in-out;
}
.about-bottom {
  display: flex;
  flex-direction: row-reverse;
}
.frame:hover img {
  transform: scale(1.1);
  transition: 0.7s ease-in-out;
}
.about .steve-jobs-text {
  padding: 1rem 2rem;
  border-left: 3px solid var(--border-color);
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 17px;
}
.about span {
  color: #555;
  font-size: 15px;  
}
 /**** About Mobile responsive ******/
 @media only screen and (max-width: 992px) {
  header{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  .about{
    padding-left: 10px;
    padding-right: 10px;
    gap: 50px;
  }
  .empty {
    height: 0px;
  } 
} 
 @media only screen and (max-width: 768px) {
  .about{
    display: block;
  }
  .about .text {
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .frame-border-top::before,
  .frame-border-bottom::before {
    width: 100%;
  }
  .frame{
    width: 100%;
  } 
} 