@import url("about.css");

.about-img {
  background-image: url("../images/xbg-02.jpg.pagespeed.ic.AbxTEdPgYH.webp");
}
.blog {
  margin-top: 3.5rem;
}
.blog .container {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  display: flex;
  gap: 5%;
}
.blog .main {
  width: 70%;
}
.main .image-container {
  overflow: hidden;
  width: 817px;
  height: 413px;
  margin-bottom: 1.5rem;
}
.main .image-container img {
  width: 825px;
  height: 413px;
  transition: 0.8s;
  cursor: pointer;
}
.main .image-container img:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.blog .side-menu {
  width: 25%;
}
.main a {
  padding-left: 0;
  font-size: 25px;
  font-weight: 800;
  transition: 0.3s;
}
.main a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}
.main p {
  color: #888;
  line-height: 1.7;
  padding: 1rem 0;
}
.main .small-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.main .small-menu p {
  font-size: 13px;
}
.main .small-menu button {
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #444;
  transition: 0.3s;
  cursor: pointer;
}
.main .small-menu button:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}
.main .small-menu i {
  padding-left: 0.5rem;
}

/***** side menu  ******/
.side-menu .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  border-radius: 50px;
  border: 1px solid var(--border-color);
}
.side-menu .search button {
  background-color: transparent;
  cursor: pointer;
  color: #888;
}
.side-menu .search button:hover {
  color: var(--secondary-color);
}
.side-menu .search ::placeholder {
  font-size: 15px;
  color: #666;
}
.side-menu .Categories {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.side-menu .title {
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 2rem;
  color: #333;
}
.side-menu .Categories a {
  font-size: 15px;
  color: #888;
  font-weight: 500;
  padding: 0.8rem 0;
  border-top: 1px solid var(--border-color);
}
.side-menu .Categories a:last-child {
  border-bottom: 1px solid var(--border-color);
}
.side-menu a:hover,
.side-menu .feature .details a:hover,
.side-menu .archive-date:hover,
.side-menu .tags .tag a:hover {
  color: var(--secondary-color);
}

/***** featured-Products *****/
.side-menu .feature .details a {
  font-size: 15px;
  color: #555;
  font-weight: 500;
  padding: 0;
}
.side-menu .feature .details {
  margin-top: 0.6rem;
}
.side-menu .feature .details p {
  color: #888;
  padding-top: 1rem;
}
.side-menu .feature {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.side-menu .archive {
  margin-top: 2rem;
}
.side-menu .archive-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #888;
  cursor: pointer;
}
/**** tags ****/
.side-menu .tags {
  margin-top: 3rem;
}
.side-menu .tags .tag {
  display: flex;
  flex-wrap: wrap;
}
.side-menu .tags .tag a {
  border: 1px solid var(--border-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 25px;
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: 0.3s;
}
.side-menu .tags .tag a:hover {
  border: 1px solid var(--secondary-color);
  transition: 0.3s;
}
