@import url("about.css");

.contact {
  margin: 100px 0;
}
.container {
  display: flex;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}
.message,
.address {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
}
/**** message ****/
.message {
  padding-left: 70px;
  padding-right: 70px;
}
.message h3 {
  color: #333;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
  margin-top: 3rem;
  text-align: center;
}
.email {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.message .email,
textarea {
  border: 1px solid var(--border-color);
  margin-top: 1.5rem;
  border-radius: 2px;
  padding-left: 1.7rem;
  color: #333;
}
textarea {
  height: 250px;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}
.message ::placeholder {
  color: gray;
}

/**** address ****/
.message button {
  margin-bottom: 4rem;
}
.message .btn {
  background-color: #333;
  padding: 14px 40px;
}
.message .btn:hover {
  background-color: var(--secondary-color);
}
.address {
  padding-left: 3rem;
}
.address > div {
  padding: 1rem 0;
}
.address h2 {
  color: #333;
  font-size: 18px;
  font-weight: 200;
  padding: 1rem 0;
}
.address p {
  color: #888;
}
.address .our-phone p,
.our-email p {
  color: var(--secondary-color);
}

/***** Contact mobile Responsive *****/
@media only screen and (max-width: 992px){
  .message {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px){
  .container {
    display: block;
  }
}