@import url("about.css");
header {
  box-shadow: 0 0 1px 0px gray;
}
.empty {
  height: 100px;
}
.features {
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 150px;
}
.home {
  display: flex;
  color: #888;
  font-size: 12px;
  align-items: center;
  gap: 0.5rem;
}
.home i {
  font-size: 8px;
}
.home a {
  color: #666;
  font-size: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  padding: 0;
  transition: 0.3s;
}
.home a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

/* Table */
.features .cart-table {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.cart-table table {
  width: 680px;
}
.cart-table table,
tr {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}
.cart-table .table-row {
  height: 185px;
}
.table .colmn-1 {
  width: 133px;
  padding-left: 50px;
}
.table .colmn-2 {
  width: 220px;
  font-size: 15px;
}
.table .colmn-3 {
  width: 120px;
  text-align: left;
  font-size: 16px;
}
.table .colmn-4 {
  width: 145px;
  text-align: right;
}
.table .colmn-5 {
  width: 172px;
  padding-right: 50px;
  text-align: right;
  font-size: 16px;
}
.cart-table table td {
  color: #555;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.cart-table .table-head th {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  font-family: Poppins-Bold, sans-serif;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* coupon-buttons  */
.coupon-buttons {
  display: flex;
  width: 100%;
  width: 680px;
  padding: 2rem;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-top: 0;
}
.coupon-buttons .coupons {
  display: flex;
  gap: 0.7rem;
}
.coupon-buttons .coupons input {
  border: 1px solid var(--border-color);
  padding: 0.8rem 0.7rem;
  border-radius: 50px;
  font-size: 15px;
}
.coupon-buttons .btn, .cart-container .btn {
  padding: 0.9rem 1.7rem;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid var(--border-color);
}
.coupon-buttons .btn:hover, .cart-container .btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
/* Increment / Decremnt cart */
 .counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sm-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  transition: 0.3s;
  border: 1px solid var(--border-color) ;
}
.num-product {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 0;
  border-right: 0;
  background-color: #f7f7f7;
  font-size: 15px;
  color: #555;
  font-weight: 600;
}
.left {
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
}
.right {
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}
.right:hover, .left:hover, .bottom-button .btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.3s;
}

/******** Total in cart  ********/
.cart-total {
  width: 360px;
  border: 1px solid var(--border-color);
  padding: 2rem;
}
.total-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  padding-bottom: 1rem;
}
.cart-container-right .total-price {
  color: #333;
  font-size: 18px;
}
.sub-title {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 1.466667;
}
.cart-container {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  gap: 2rem;
  border-bottom: 1px dashed #d9d9d9;
  padding-top: 1rem;
}
.cart-container-right {
  width: 65%;
}
.cart-container-right p {
  font-size: 13px;
  line-height: 1.4;
  color: #888;
  padding-bottom: 1rem;
}
.cart-container-right .fields {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 0.8rem 0.7rem;
  margin: 0.5rem 0;
  width: 80%;
}
.select-fields {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin: 0.5rem 0;
  width: 80%;
  position: relative;
}
.select-fields select {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0.4rem 0.7rem;
  width: 90%;
  cursor: pointer;
}
.select-fields select option {
  cursor: pointer;
  border-radius: 2px;
  padding: 1rem 0;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.cart-container-left {
  width: 22%;
}
.cart-container .btn {
  padding: 0.8rem 1.7rem;
  margin-top: 1rem ;
  margin-bottom: 2rem;
}
.bottom-button .btn {
  background-color: var(--footer-color);
  color: #fff;
  transition: 0.3s;
  padding: 1rem 1.7rem;
  width: 100%;
  margin: 1rem 0;
}


/* ======== Media Queries (Medium Devices ) ======= */
@media screen and (max-width: 1200px){
  .features .cart-table {
    display: block;
    justify-content: space-between;
    gap: 60px;
  }
  .cart-table table, .coupon-buttons {
    width: 100%;
  }
  .cart-total {
    width: 80%;
    padding: 2rem;
    margin: 3rem auto 0;
  }
}
@media screen and (max-width: 992px){
  .features {
    padding-right: 15px;
    padding-left: 15px;
  }
  .empty {
    height: 30px;
  }

}

